body{
  font-family: 'Press Start 2P';
  text-align: center;
  background-color: white;
}

h1{
   font-size: 90px;
 }

 #timer{
   color:red;
   font-size: 30px;
 }

.cell {
  background-color: black;
  border: 1px solid black;
  height: 2px;
  width: 2px;
}

#gridSpot {
  position: relative;
  top: 30px;
  outline: 2px solid #000;
  font-size: 0;
  margin: auto;
  height: 960px;
  width: 960px;
  padding: 0;
  border: none;
}

.grid {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid #000;
  display: inline-block;
}

.emptyCell{
  background-image:none;
}

.pacAt{
  background-image: url("../imgs/blackPac.jpg");
  background-size:contain;
  background-repeat: no-repeat;

}

#title{
  width:100%;
}

#scoreboard {
  display: none;
}

.dot{
  background-image:url('../imgs/dot.png');
  background-size:100%;
  background-repeat: no-repeat;
}

.fruit{
  width:60px;
}
.card {
  width:20%;
  background-color: #E75808;
}
.card-img-top{
  margin-left:auto;
  margin-right: auto;
  margin-top:10px;
  width:60px;
}
