body {
  font-family: 'Press Start 2P';
  text-align: center;
  background-color: #C0C0C0;
}
footer {
  color: white;
  background-color: black;
  padding: 20px;
}

h1 {
  font-size: 90px;
  text-decoration: underline;
  margin-bottom: 25px;
  color: black;
 }

a {
  color: black;
 }

 a:hover {
   color: #00ff41;
 }

.grid {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  background-image: url("../img/grass.jpg");
  background-size: cover;
}

.ball {
  width: auto;
  height: 50px;
  position: absolute;
  /* left: 30px;
  top: 40px; */
}

.bonfire {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 45%;
  top: 500px;
}

.well {
  text-align: left;
  border: 5px, solid, black;
  width: 42%;
  text-decoration: underline;
  background-color:black;
  color: #00ff41;
}

.skelly {
  margin-left: -610px;
}

.btn {
  display: block;
  margin: auto;
}

.btn:hover {
  color: #00ff41;
}

.tree {
  position: absolute;
  margin-left: -9.5px;
  width: 38px;
  height: 58px;
  padding: none;
  margin-bottom: 19px;
}

.man img {
  height: 50px;
  width: auto;
  /* top: 120px; */
}

.skull {
  display: none;
  position: absolute;
  height:150px;
  width: auto;
  left: 500px;
  top: 50px;
}

.titleImage {
  display: inline;
  width: 300px;
  height: auto;
  margin: 35px;
}

#titleImage {
  background-image: url("../img/grass.jpg");
  padding-bottom: 15px;
}

#inventory {
  background-color: rgba(0,0,0,0.3);
}

#game-over {
  background-color: black;
  color: white;
  padding-top:15px;
  padding-bottom: 45px;
  color: #B22222;
}

#game-over, #gameDiv, #gridSpot {
  display: none;
}

#timer {
  color:#B22222;
  font-size: 30px;
}

#gridSpot {
  top: 30px;
  font-size: 0;
  margin: 0;
  height: 900px;
  width: 100%;
  padding: 0;
  border: none;
}

#play {
  margin-top: 40px;
  background-color: #B22222;
  color: white;
  width: 150px;
  height: 60px;
}

#rageSkull {
  display: none;
  height: 260px;
  width: auto;
}

a {
  color: white;
}

a:hover {
  color: yellow;
}

.refresh_link {
  color: black;
}

#game-over h1{
  color: white;
}

#logo {
  width: 300px;
}
