body{
  font-family: 'Press Start 2P';
  text-align: center;
  background-color: white;
}

h1{
   font-size: 90px;
 }

 #timer{
   color:red;
   font-size: 30px;
 }

#gridSpot {
  position: relative;
  top: 30px;
  outline: 1px solid rgba(255, 0, 0, 0.8);
  font-size: 0;
  margin: auto;
  height: 960px;
  width: 960px;
  padding: 0;
  border: none;
}

.grid {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid rgba(255, 0, 0, 0.3);
  display: inline-block;
}

.ball {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  top: 40px;
}

.bonfire {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.well {
  text-align: left;
  border: 5px, solid, black;
  width: 42%;
  text-decoration: underline;
  background-color:black;
  color: #00ff41;
}

#game-over {
  background-color: black;
  color: white;
  padding-top:15px;
  padding-bottom: 45px;
  color: #B22222;
}

.skelly {
  margin-left: -610px;
}

.btn {
  display: block;
  margin: auto;

}

.btn:hover{
  color: #00ff41;
}
